extend layout
block content
  h2=__('About me')
  p
    | #{__("I'm Tao Zhao from China, currently a Research Scientist at Meta.")}
    | #{__("I love free and open source technologies and culture.")}
  h3=__('Contact')
  ul
    li #{__('Email preferred: ')}alick NOSPACE 9188 AT GMAIL dot com
  h2=__('About this site')
  p
    | #{__("This site is built with Node.js, Express, Pug (Jade), Stylus and others.")}
    | !{__("If not specified otherwise, the contents are licensed under <a href='http://creativecommons.org/licenses/by-sa/4.0/deed' title='Attribution-ShareAlike 4.0 International'>CC BY-SA 4.0</a>.")}
  h3 #{__('Domain name')} Alick.me
  p
    | #{__("Alick is my English name picked up in the dictionary by myself.")}
    | !{__("\"me\" is the country code top-level domain for the country <a href='http://en.wikipedia.org/wiki/.me'>Montenegro</a>, but also apparently suitable for personal websites.")}
  h3=__('Changelog')
  ul
    li 2025-06-19 #{__('Let /research share the same theme')}
    li 2020-05-02 #{__('Self-host research homepage.')}
    li 2018-10-20 #{__('Migrate to Heroku.')}
    li 2017-09-26 #{__('Migrate to AWS Elastic Beanstalk.')}
    li 2016-01-26 #{__('Internationalization.')}
    li 2015-10-18 #{__('Use Bootstrap.')}
    li 2015-10-05 Express #{__('3.x to 4.x.')}
    li 2014-08-05 #{__('Migrate server to OpenShift PaaS platform (essentially on Amazon AWS).')}
//- vim: set et sw=2 ai:
